<div id="container">
    <div id="inner-container">
        <a routerLink="/"><img [src]="logoURL" /></a>

        <p class="label">Copyright © {{ company }}. All rights reserved.</p>

        <ul>
            <li><a href="./" target="_blank"><span class="fab fa-twitter" style="float: right;"></span></a></li>
            <li><a href="./" target="_blank"><span class="fab fa-twitch" style="float: right;"></span></a></li>
            <li><a href="./" target="_blank"><span class="fab fa-discord" style="float: right;"></span></a></li>
            <li><a href="./" target="_blank"><span class="fab fa-youtube" style="float: right;"></span></a></li>
        </ul>
    </div>
</div>
