<h1 class="h1">H1 Headline</h1>
<h2 class="h2">H2 Headline</h2>
<h3 class="h3">H3 Headline</h3>
<h4 class="h4">H4 Headline</h4>
<h5 class="h5">H5 Headline</h5>
<h6 class="h6">H6 Headline</h6>
<p class="subtitle">Subtitle</p>
<p class="paragraph">Paragraph</p>
<p class="paragraph-strong">Paragraph Strong</p>
<caption class="caption">Caption</caption> <br />
<caption class="caption-strong">Caption</caption> <br />
<label class="label">Label</label>

<hr />

<h3 class="h3">Button</h3>
<appify-button [title]="'Square Filled'" [buttonType]="'square'" [buttonFillType]="'filled'"></appify-button> <br /><br />
<appify-button [title]="'Square Border'" [buttonType]="'square'" [buttonFillType]="'border'"></appify-button> <br /><br />
<appify-button [title]="'Rounded Filled'" [buttonType]="'rounded'" [buttonFillType]="'filled'"></appify-button> <br /><br />
<appify-button [title]="'Rounded Border'" [buttonType]="'rounded'" [buttonFillType]="'border'"></appify-button>

<hr />

<h3 class="h3">Text</h3>
<appify-text [text]="'My Header'" [textType]="'header'"></appify-text>
<appify-text [text]="'Paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'" [textType]="'body'"></appify-text>

<hr />

<h3 class="h3">Image</h3>
<appify-image [url]="'https://knowpathology.com.au/app/uploads/2018/07/Happy-Test-Screen-01.png'" [caption]="'Caption of the image.'"></appify-image>

<hr />

<h3 class="h3">Video</h3>
<appify-video [url]="'https://www.youtube.com/embed/ZtfTOuSHGg8&ab_channel=YCombinator'" [caption]="'Caption of the video.'"></appify-video>

<hr />

<h3 class="h3">Space</h3>
<appify-text [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'" [textType]="'body'"></appify-text>
<appify-text [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'" [textType]="'body'"></appify-text>
<appify-spacer [space]="'40'"></appify-spacer>
<appify-text [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'" [textType]="'body'"></appify-text>
<appify-text [text]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'" [textType]="'body'"></appify-text>

<hr />

<h3 class="h3">Hero</h3>
<appify-hero [heroAlignment]="'center'"
             [headline]="'This is a headline!'"
             [subtitle]="'This is a subtitle below the headline.'"
             [buttonText]="'Button'"></appify-hero>

<hr />

<h3 class="h3">Feature</h3>
<appify-feature></appify-feature>

<hr />

<h3 class="h3">Call to Action</h3>
<appify-cta [headline]="'Sign Up Today!'"
            [subtitle]="'This is a subtitle below the headline.'"
            [buttonText]="'Button'"></appify-cta>

<hr />

<h3 class="h3">Grid</h3>
<appify-grid [headline]="'Heading'"
             [subtitle]="'Subtitle'"></appify-grid>

<hr />

<h3 class="h3">Carousel</h3>
<appify-carousel></appify-carousel>

<hr />

<h3 class="h3">List</h3>
<appify-list></appify-list>

<hr />

<h3 class="h3">Slider</h3>
<appify-slider [sliderAlignment]="'center'"></appify-slider>

<hr />

<h3 class="h3">Navigation Header</h3>
<appify-navigation-header></appify-navigation-header>

<h3 class="h3">Navigation Footer</h3>
<appify-navigation-footer [company]="'My Company'"></appify-navigation-footer>
