<div [class.margin-width]="width == imageWidthValue.margin">
    <div [style.padding-top]="style?.padding?.top ? style?.padding?.top + 'px' : ''"
        [style.padding-bottom]="style?.padding?.bottom ? style?.padding?.bottom + 'px' : ''"
        [style.padding-left]="style?.padding?.left ? style?.padding?.left + 'px' : ''"
        [style.padding-right]="style?.padding?.right ? style?.padding?.right + 'px' : ''"
    >
        <img [src]="pageService.getImageMapResource(url)"
            [style.height]="style?.height ? style?.height + 'px' : ''"
            [style.object-fit]="style?.background_size ? style?.background_size : ''"/>
    </div>
</div>
