button {
    cursor: pointer;
    padding: 12px 32px;
    box-sizing: border-box;
    border: 1px solid var(--color-white);
    color: var(--color-primary);
    background: var(--color-white);
    font-family: var(--typography-label-font-family);
    font-style: var(--typography-label-font-style);
    font-weight: var(--typography-label-font-weight);
    font-size: var(--typography-label-font-size);
    line-height: var(--typography-label-line-height);
    letter-spacing: var(--typography-label-letter-spacing);
    text-transform: var(--typography-label-text-transform);
}

.rounded {
    border-radius: 9999px;
}

.border {
    color: var(--color-primary);
    background: transparent;
    border: 1px solid var(--color-primary);
}

.border:hover {
    color: var(--color-white);
    background: var(--color-primary);
}

.filled {
    color: var(--color-white);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.filled:hover {
    color: var(--color-primary);
    background: transparent;
}
