#container {
    width: 100%;
    color: var(--color-foreground);
    background: var(--color-background);
}

#inner-container {
    padding: 128px 200px;
    display: table;
}

caption {
    display: inline;
}

.left-align-container {
    direction: rtl;
}

.left-align-inner {
    direction: ltr;
}

img {
    height: auto;
    width: calc(100% - 48px);
}

.col {
    display: table-cell;
}

.col-l {
    vertical-align: top;
}

.col-r {
    vertical-align: middle;
    margin-left: 48px;
    width: calc(50% - 48px);
}

.col-r > div {
    margin-top: 24px;
}
