<div id="container">
    <div id="inner-container"
         [class.left-align-container]="featureAlignment == featureAlignmentValue.left">
        <div class="col-2 col-l col">
            <img [src]="imageURL" />
        </div>

        <div class="col-2 col-r col"
             [class.left-align-inner]="featureAlignment == featureAlignmentValue.left">
            <caption class="caption-strong">{{ title }}</caption>
            <h3 class="h3">{{ subtitle }}</h3>
            <p class="subtitle">{{ body }}</p>

            <div>
                <appify-button [title]="buttonText" [buttonType]="'border'" (selected)="clickButton()"></appify-button>
            </div>
        </div>
    </div>
</div>
