#container {
    width: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div > div {
    padding: 100px;
}

div > div > div {
    margin-top: 24px;
    padding: 0;
}
