div {
    max-width: var(--size-default-margin);
    margin: auto;
}

iframe {
    width: 100%;
    max-width: 100%;
}

span {
    font-family: var(--typography-label-font-family);
    font-style: var(--typography-label-font-style);
    font-weight: var(--typography-label-font-weight);
    font-size: var(--typography-label-font-size);
    line-height: var(--typography-label-line-height);
    letter-spacing: var(--typography-label-letter-spacing);
    text-transform: var(--typography-label-text-transform);
}

.margin-width {
    margin: auto;
    max-width: var(--size-default-margin);
    padding: 0 var(--spacing-small);
}

.selectable {
    border: 2px solid #3040C4 !important;
    cursor: pointer;
    margin: -2px !important;
}
