<div [class.margin-width]="width == videoWidthValue.margin">
    <div [style.text-align]="alignment == alignmentValue.right ? 'right' : alignment == alignmentValue.center ? 'center': 'left'"
        [style.padding-top]="style?.padding?.top ? style?.padding?.top + 'px' : ''"
        [style.padding-bottom]="style?.padding?.bottom ? style?.padding?.bottom + 'px' : ''"
        [style.padding-left]="style?.padding?.left ? style?.padding?.left + 'px' : ''"
        [style.padding-right]="style?.padding?.right ? style?.padding?.right + 'px' : ''"
    >
        <iframe *ngIf="safeURL"
            [style.height]="style?.height ? style?.height + 'px' : ''"
            [style.width]="style?.width ? style?.width + 'px' : ''"
            width="1080" height="760" [src]="safeURL" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
</div>
