<div id="container">
    <div id="inner-container">
        <h1 class="h3">{{ headline }}</h1>
        <p class="subtitle">{{ subtitle }}</p>


        <div class="grid-container">
            <div *ngFor="let x of items">
                <img src="https://via.placeholder.com/224x340" style="width: 100%; height: auto; vertical-align: top;" />
                <h5 class="h5">Title</h5>
                <p class="subtitle">Subtitle</p>
            </div>
            <!-- <div>
                <img src="https://via.placeholder.com/400x600" />
            </div>

            <div>
                <img src="https://via.placeholder.com/400x600" />
            </div> -->
        </div>
    </div>
</div>
