#container {
    width: 100%;
    background: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#inner-container {
    padding: 85px 265px;
}

.grid-container {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 16px;
}

.grid-container > div {
    width: 100%;
    height: auto;
    vertical-align: top;
}
