#container {
    width: 100%;
    color: var(--color-foreground);
    background: var(--color-background);
}

#inner-container {
    position: relative;
    padding: 80px 128px;
}

a {
    text-decoration: none;
    color: var(--color-foreground);
}

img {
    cursor: pointer;
    position: absolute;
    left: 128px;
    top: 50%;
    width: auto;
    height: 60px;
    transform: translateY(-50%);
}

p {
    text-align: right;
}

ul {
    padding-top: 20px;
    list-style-type: none;
    float: right;
}

li {
    cursor: pointer;
    display: inline-block;
    padding-right: 20px;
    text-transform: uppercase;
}


@media screen and (max-width: 800px) {
    img {
        position: relative;
    }
    
    #inner-container {
        padding: 80px 28px
    }
}
