.item-image {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: var(--spacing-small);
}

.subtitle  {
    flex: 1;
}

.vertical-item-spacer {
    height: var(--spacing-small);
}

.inner-container {
    margin: 0;
    position: absolute;
    top: 50%;
    width: calc(100% - 16px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 16px;
}
