<div id="container">
    <div id="inner-container">
        <a routerLink="/"><img [src]="logoURL" /></a>

        <ul class="nav">
            <li class="paragraph-strong">
                Category
                <ul>
                    <li class="dropdown-item"><a href="#">Subcategory</a></li>
                </ul>
            </li>
            <li class="paragraph-strong guides">
                Category
                <ul>
                    <li class="dropdown-item"><a href="#">Subcategory</a></li>
                </ul>
            </li>
            <li class="paragraph-strong">Category</li>
            <li class="paragraph-strong"><a routerLink="/mission">Category</a></li>
        </ul>
    </div>
</div>
