@media screen and (max-width: 480px) {
    #outer-container {
        padding: var(--spacing-medium) var(--spacing-medium) !important;
    }

    img {
        width: 150px;
    }

    #container {
        display: block;
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}
