<div id="outer-container"
    [class.margin-width]="width == listWidthValue.margin"
    [style.backgroundColor]="style?.background_color ? style?.background_color : ''"
    [style.backgroundImage]="style?.background_image ? 'url(' + style?.background_image + ')' : ''"
    [style.backgroundSize]="style?.background_size ? style?.background_size : ''"
    [style.backgroundRepeat]="style?.background_repeat ? style?.background_repeat : ''"
    [style.backgroundPosition]="style?.background_position ? style?.background_position : ''"
    [style.padding-top]="style?.padding?.top ? style?.padding?.top + 'px' : ''"
    [style.padding-bottom]="style?.padding?.bottom ? style?.padding?.bottom + 'px' : ''"
    [style.padding-left]="style?.padding?.left ? style?.padding?.left + 'px' : ''"
    [style.padding-right]="style?.padding?.right ? style?.padding?.right + 'px' : ''">
    <div id="container" *ngFor="let item of items">
        <div>
            <img [src]="item.image" />
        </div>

        <div>
            <h3 class="headline-s"
                [style.color]="style?.headline?.color ? style?.headline?.color : ''"
                [style.fontFamily]="style?.headline?.font ? style?.headline?.font : ''"
                [style.fontSize]="style?.headline?.size ? style?.headline?.size + 'px' : ''"
                [style.fontWeight]="style?.headline?.weight ? style?.headline?.weight : ''"
                [style.lineHeight]="style?.headline?.line_height ? style?.headline?.line_height + 'px' : ''"
                [style.letter-spacing]="style?.headline?.letter_spacing ? style?.headline?.letter_spacing + 'px' : ''"
            >{{ item.header }}</h3>
            <p class="body-m"
                [style.color]="style?.body?.color ? style?.body?.color : ''"
                [style.fontFamily]="style?.body?.font ? style?.body?.font : ''"
                [style.fontSize]="style?.body?.size ? style?.body?.size + 'px' : ''"
                [style.fontWeight]="style?.body?.weight ? style?.body?.weight : ''"
                [style.lineHeight]="style?.body?.line_height ? style?.body?.line_height + 'px' : ''"
                [style.letter-spacing]="style?.body?.letter_spacing ? style?.body?.letter_spacing + 'px' : ''"
            >{{ item.body }}</p>
        </div>
    </div>
</div>
