@media screen and (max-width: 480px) {
  #inner-container {
    padding: var(--spacing-medium) var(--spacing-medium)
      calc(var(--spacing-medium) / 2) !important;
  }

  .col {
    padding-bottom: var(--spacing-xSmall);
  }
}

@media screen and (max-width: 992px) {
  .column {
    flex: 0 0 calc(33%);
  }
  .col1 {
    flex: 0 0 calc(100%) !important;
  }
  .col2 {
    flex: 0 0 calc(50%) !important;
  }
}

@media screen and (max-width: 768px) {
  .column {
    flex: 0 0 calc(50%);
  }
  .col1 {
    flex: 0 0 calc(100%) !important;
  }
}
@media screen and (max-width: 576px) {
  .column {
    flex: 0 0 calc(100%) !important;
  }
}
