#container {
    width: 100%;
    color: var(--color-foreground);
    background: var(--color-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#inner-container {
    max-width: 100%;
    margin: auto;
    padding: calc(var(--size-section-padding) / 2) var(--spacing-xxLarge);
}
#inner-container a {
    text-decoration: none;
}

.margin-width {
    margin: auto;
    max-width: var(--size-default-margin);
    width: calc(100% - (var(--spacing-small) * 2)) !important;
}

#headings-spacer {
    height: var(--spacing-small);
}

img {
    padding-bottom: var(--spacing-medium);
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}

.col {
    display: flex;
    flex-direction: column;
    padding-left: var(--spacing-xSmall);
    padding-right: var(--spacing-xSmall);
    flex-basis: inherit;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.item-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: var(--spacing-small);
}
