@media screen and (max-width: 480px) {
    #inner-container {
        padding: var(--spacing-medium) var(--spacing-medium) calc(var(--spacing-medium) / 2) !important;
    }

    .col {
        display: block;
        width: 100%;
        padding-bottom: var(--spacing-xSmall);
    }
}
