<div
    id="container"
    [class.margin-width]="width == gridWidthValue.margin"
    [style.backgroundColor]="
        style?.background_color ? style?.background_color : ''
    "
    [style.backgroundImage]="
        style?.background_image ? 'url(' + style?.background_image + ')' : ''
    "
    [style.backgroundSize]="
        style?.background_size ? style?.background_size : ''
    "
    [style.backgroundRepeat]="
        style?.background_repeat ? style?.background_repeat : ''
    "
    [style.backgroundPosition]="
        style?.background_position ? style?.background_position : ''
    "
>
    <div
        id="inner-container"
        [style.text-align]="
            alignment == gridAlignmentValue.center
                ? 'center'
                : alignment == gridAlignmentValue.right
                ? 'right'
                : 'left'
        "
        [style.padding-top]="
            style?.padding?.top ? style?.padding?.top + 'px' : ''
        "
        [style.padding-bottom]="
            style?.padding?.bottom ? style?.padding?.bottom + 'px' : ''
        "
        [style.padding-left]="
            style?.padding?.left ? style?.padding?.left + 'px' : ''
        "
        [style.padding-right]="
            style?.padding?.right ? style?.padding?.right + 'px' : ''
        "
    >
        <div
            *ngFor="let item of items"
            class="column"
            [class.col1]="columns == 1"
            [class.col2]="columns == 2"
            [class.col3]="columns == 3"
            [class.col4]="columns == 4"
            [class.col5]="columns == 5"
            [class.col6]="columns == 6"
            [style.padding-bottom]="
                style?.row_spacing ? style?.row_spacing + 'px' : ''
            "
            [style.padding-left]="
                style?.item_spacing || style?.item_spacing == 0
                    ? style?.item_spacing / 2 + 'px'
                    : ''
            "
            [style.padding-right]="
                style?.item_spacing || style?.item_spacing == 0
                    ? style?.item_spacing / 2 + 'px'
                    : ''
            "
        >
            <div
                class="item-image"
                [style.cursor]="item?.button_url?.length > 0 ? 'pointer' : ''"
                *ngIf="item?.image && item?.image?.length > 0"
                [style.backgroundImage]="
                    item?.image ? 'url(' + item?.image + ')' : ''
                "
                [style.backgroundSize]="
                    style?.background_size ? style?.background_size : ''
                "
                [style.margin-bottom]="
                    item?.title?.length == 0 &&
                    item?.subtitle?.length == 0 &&
                    item?.button_title?.length == 0
                        ? '0'
                        : ''
                "
            ></div>
            <h5
                *ngIf="item?.title?.length"
                class="headline-xs"
                [style.color]="style?.title?.color ? style?.title?.color : ''"
                [style.fontFamily]="
                    style?.title?.font ? style?.title?.font : ''
                "
                [style.fontSize]="
                    style?.title?.size ? style?.title?.size + 'px' : ''
                "
                [style.fontWeight]="
                    style?.title?.weight ? style?.title?.weight : ''
                "
                [style.lineHeight]="
                    style?.title?.line_height
                        ? style?.title?.line_height + 'px'
                        : ''
                "
                [style.letter-spacing]="
                    style?.title?.letter_spacing
                        ? style?.title?.letter_spacing + 'px'
                        : ''
                "
            >
                {{ item?.title }}
            </h5>
            <div
                *ngIf="item?.subtitle?.length"
                class="vertical-item-spacer"
            ></div>
            <p
                *ngIf="item?.subtitle?.length"
                class="body-m subtitle"
                [style.color]="
                    style?.subtitle?.color ? style?.subtitle?.color : ''
                "
                [style.fontFamily]="
                    style?.subtitle?.font ? style?.subtitle?.font : ''
                "
                [style.fontSize]="
                    style?.subtitle?.size ? style?.subtitle?.size + 'px' : ''
                "
                [style.fontWeight]="
                    style?.subtitle?.weight ? style?.subtitle?.weight : ''
                "
                [style.lineHeight]="
                    style?.subtitle?.line_height
                        ? style?.subtitle?.line_height + 'px'
                        : ''
                "
                [style.letter-spacing]="
                    style?.subtitle?.letter_spacing
                        ? style?.subtitle?.letter_spacing + 'px'
                        : ''
                "
            >
                {{ item?.subtitle }}
            </p>
            <div
                *ngIf="item?.button_title?.length"
                class="vertical-item-spacer"
            ></div>
            <appify-button
                *ngIf="item?.button_title?.length"
                [title]="item?.button_title"
                [url]="item?.button_url"
                [padding]="buttonPadding"
                [alignment]="alignment"
                [style]="style?.button"
            ></appify-button>
        </div>
    </div>
</div>
