<div
    id="container"
    [class.margin-width]="width == gridWidthValue.margin"
    [style.backgroundColor]="
        style?.background_color ? style?.background_color : ''
    "
    [style.backgroundImage]="
        style?.background_image ? 'url(' + style?.background_image + ')' : ''
    "
    [style.backgroundSize]="
        style?.background_size ? style?.background_size : ''
    "
    [style.backgroundRepeat]="
        style?.background_repeat ? style?.background_repeat : ''
    "
    [style.backgroundPosition]="
        style?.background_position ? style?.background_position : ''
    "
>
    <div
        id="inner-container"
        [style.text-align]="
            alignment == gridAlignmentValue.center
                ? 'center'
                : alignment == gridAlignmentValue.right
                ? 'right'
                : 'left'
        "
        [style.padding-top]="
            style?.padding?.top ? style?.padding?.top + 'px' : ''
        "
        [style.padding-bottom]="
            style?.padding?.bottom ? style?.padding?.bottom + 'px' : ''
        "
        [style.padding-left]="
            style?.padding?.left ? style?.padding?.left + 'px' : ''
        "
        [style.padding-right]="
            style?.padding?.right ? style?.padding?.right + 'px' : ''
        "
    >
        <div
            *ngFor="
                let t of temp(math.ceil(items.length / columns)).fill(0);
                let i = index
            "
            class="row row-container"
            [style.margin-bottom]="
                style?.row_spacing ? style?.row_spacing + 'px' : ''
            "
        >
            <div
                *ngFor="
                    let item of items.slice(columns * i, columns * i + columns)
                "
                class="col col-12"
                [class.col-12]="columns == 1"
                [class.col-sm-6]="columns == 2"
                [class.col-sm-4]="columns == 3"
                [class.col-sm-3]="columns == 4"
                [class.col-sm-5ths]="columns == 5"
                [class.col-sm-2]="columns == 6"
                [style.padding-left]="
                    style?.item_spacing || style?.item_spacing == 0
                        ? style?.item_spacing / 2 + 'px'
                        : ''
                "
                [style.padding-right]="
                    style?.item_spacing || style?.item_spacing == 0
                        ? style?.item_spacing / 2 + 'px'
                        : ''
                "
            >
                <appify-grid-cell-variation-000
                    *ngIf="style?.variation == '000'"
                    [alignment]="alignment"
                    [style]="style"
                    [item]="item"
                ></appify-grid-cell-variation-000>
                <appify-grid-cell-variation-001
                    *ngIf="style?.variation == '001'"
                    [alignment]="alignment"
                    [style]="style"
                    [item]="item"
                ></appify-grid-cell-variation-001>
            </div>
        </div>
    </div>
</div>
