iframe {
    display: block;
}

span {
    font-family: var(--typography-label-font-family);
    font-style: var(--typography-label-font-style);
    font-weight: var(--typography-label-font-weight);
    font-size: var(--typography-label-font-size);
    line-height: var(--typography-label-line-height);
    letter-spacing: var(--typography-label-letter-spacing);
    text-transform: var(--typography-label-text-transform);
}
