<div id="container"
     [ngStyle]="{'background-image': 'url(' + items[selectedIndex].image + ')'}"
     [style.height]="height + 'px'"
     [style.text-align]="sliderAlignment == sliderAlignmentValue.center ? 'center' :
                         sliderAlignment == sliderAlignmentValue.right ? 'right' : 'left'">
    <div id="contents">
        <h1 class="h1">{{ headline }}</h1>
        <p class="subtitle">{{ subtitle }}</p>

        <div>
            <appify-button [title]="buttonText" [buttonType]="'square'" (selected)="clickButton()"></appify-button>
        </div>
    </div>

    <div id="slider">
        <div *ngFor="let item of items; let i = index" [style.opacity]="i == selectedIndex ? '1.0' : '0.5'"
             (click)="selectIndex(i)"></div>
    </div>
</div>
