<div id="container" class="margin-width">
    <div id="inner-container"
        [class.left-align-inner]="alignment == alignmentValue.left"
        [class.right-align-inner]="alignment == alignmentValue.right"
        [style.height]="height + 'px'"
        [style.max-width]="(maxWidth + 8) + 'px'">

        <div [class.left-padding]="alignment == alignmentValue.right"
            [class.right-padding]="alignment == alignmentValue.left">
            <div *ngIf="items.length > 0" class="image-container image-container-small"
                (click)="selectedItem(items[0].url)"
                [style.background]="'url(' + items[0].image + ')'"></div>
            <div *ngIf="items.length > 2" class="image-container image-container-small" style="margin-top: 8px;"
                (click)="selectedItem(items[2].url)"
                [style.background]="'url(' + items[2].image + ')'"></div>
        </div>

        <div [class.left-padding]="alignment == alignmentValue.left"
            [class.right-padding]="alignment == alignmentValue.right"
            [style.height]="(height - 8) + 'px'">
            <div *ngIf="items.length > 1" class="image-container image-container-large"
                (click)="selectedItem(items[1].url)"
                [style.background]="'url(' + items[1].image + ')'"></div>
        </div>
    </div>
</div>
