@media screen and (max-width: 480px) {
    p {
        max-width: var(--spacing-medium);
        margin: auto;
    }

    .margin-width {
        margin: auto;
        max-width: 100%;
        width: 100%;
    }
}
